body{
	font-family: 'Comfortaa', cursive !important;
}
.header-link{
	text-transform: uppercase;
	font-weight: 500;
}
.red-button{
	color:white;
	background: #F84162;
	border:none;
	border-radius:5px;
	padding:8px 20px;
}

.green-button{
	color:white;
	background: #00B74A;
	border:none;
	border-radius:5px;
	padding:8px 20px;
}

#header-logo{
	font-size: 2rem !important;
	margin-left:30px;
	letter-spacing: 1px;
	font-weight: 600;
}

